.login-module {
  background: url(/assets/images/bg-img.jpg) no-repeat;
  background-size: 100%;
  background-position: 0 0;
  height: 100vh;
}

.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  display: flex;
  //height: 100vh;
}
.company__info {
  background-color: #184b95;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}
.row > h2 {
  color: #184b95;
}
.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
form {
  padding: 0 2em;
}
.login-module .container-fluid {
  padding-top: 5em;
  padding-bottom: 5em;
}
.login_form .container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 4px;
  border: 1px solid #b1b2b3;
  padding: 0.5em 0.5em 0.5em;
  padding-left: 0.5em;
  outline: none;
  margin: 1em auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border: 1px solid #184b95;
  border-color: #184b95;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.form__input1 {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 4px;
  border: 1px solid #b1b2b3;
  padding: 0.5em 0.5em 0.5em;
  padding-left: 0.5em;
  outline: none;
  margin: 8px auto;
  transition: all 0.5s ease;
}
.form__input1:focus {
  border: 1px solid #184b95;
  border-color: #184b95;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}
.btn {
  transition: all 0.5s ease;
  width: 100%;
  border-radius: 30px;
  color: #184b95;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #184b95;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn:hover,
.btn:focus {
  background-color: #184b95;
  color: #fff;
}
.container-fluid {
  // background-image: url('/assets/images/bg-img.jpg');
}
