<div class="row top-nav-menu-nm">
  <div class="col-md-2">
    <div class="logo-section"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2" id="sidebar-menu-nm">
    <div class="sidebar">
      <a class="active" routerLink="/layout/dashboard"><i class="fa fa-fw fa-home"></i> Home</a>
      <a routerLink="/layout/view-profile"><i class="fa fa-fw fa-user"></i> Profile</a>
      <a routerLink="/layout/account-statement"><i class="fa fa-fw fa-file-invoice-dollar"></i> Account Statement</a>
      <a href="#"><i class="fa fa-fw fa-hand-holding-usd"></i> Deposit</a>
      <a href="#"><i class="fa fa-fw fa-donate"></i> Withdrawal</a>
      <a href="#"><i class="fa fa-fw fa-history"></i> Bet History</a>
      <a href="#"><i class="fa fa-fw fa-credit-card"></i> Payment History</a>
      <a href="#"><i class="fa fa-fw fa-tools"></i> Edit Stake</a>
      <a href="#"><i class="fa fa-fw fa-trash-alt"></i> Close Account</a>
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
    </div>
  </div>
  <div class="col-md-10 page-render-common">
    <router-outlet></router-outlet>
  </div>
</div>