<div class="row">
  <div class="col-md-2 logo-section"></div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="row nav-bar-left">
      <ul class="navigation-list">
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
        <li class="navigation-elements">
          <a href="#" class="text-default">Home</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>